


@{
    ViewData["Title"] = "Admin Page";
}


@model IEnumerable<ApplicationUser>


<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>

                <td></td>
          
            </tr>
        }
    </tbody>
</table>
