@model DoorToDoor_Every_1.Models.FollowUp

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FollowUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateReturn" class="control-label"></label>
                <input asp-for="DateReturn" class="form-control" />
                <span asp-validation-for="DateReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeReturn" class="control-label"></label>
                <input asp-for="TimeReturn" class="form-control" />
                <span asp-validation-for="TimeReturn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
