body {
    padding-top: 70px;
    padding-bottom: 30px;
    background-image: url("../images/homepagenewimage.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    max-width: 2000px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#sectioncolour {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.formcolour {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.8;
}

a {
    color: #fe8a00;
}

    a:hover {
        color: #DE1800;
        text-decoration: none;
    }



form {
    /*background-color: darkgrey;
    opacity: 0.9;*/
    padding: 5px;
    border-radius: 2px;
    font: black;
    line-height: 22px;
}


.form-group {
    padding-top: 15px;
}

.whitetext {
    color: white;
}


/*.form-design {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box ;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
  
    
    
}*/


.colouredtext {
    color: #fe8a00;
}

.btn-default {
    background-color: white;
    border-color: black;
    color: #fe8a00
}

    .btn-default:hover {
        background-color: #fe8a00;
        border-color: white;
        color: white;
    }

.label {
    color: #fe8a00;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

.clear {
    clear: both;
}

.layoutdetails {
    background-color: white;
    opacity: 0.9;
    padding: 8px;
    margin: 15px;
}

hr {
    border-color: #DE1800;
}

#address {
    text-align: center;
}

    #address h4 {
        font-weight: bold;
    }


/* Navbar */
.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

        .mega-dropdown-menu > li > ul > li {
            list-style: none;
        }

            .mega-dropdown-menu > li > ul > li > a {
                display: block;
                color: #222;
                padding: 3px 5px;
            }

    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
        text-decoration: none;
    }

    .mega-dropdown-menu .dropdown-header {
        font-size: 18px;
        color: #ff3546;
        padding: 5px 60px 5px 5px;
        line-height: 30px;
    }
