body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/homepagenewimage.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
}



#backgroundimage {
    background-image: url("../images/homepagenewimage.jpg") linear-gradient(transparant, black);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

UL.nav > LI {
    float: left;
}

UL.nav UL {
    left: -10000px;
    position: absolute;
}

UL.nav > LI:hover UL {
    left: 0;
    top: 24px; /* IE7 has problems without this */
}

.table {
    background-color: white;
    opacity: 0.8;
}


#sectioncolour {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.formcolour {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.8;
}

a {
    color: #fe8a00;
}

    a:hover {
        color: #DE1800;
        text-decoration: none;
    }



form {
    /*background-color: darkgrey;
    opacity: 0.9;*/
    padding: 5px;
    border-radius: 2px;
    font: black;
    line-height: 22px;
}


.form-group {
    padding-top: 15px;
}

.whitetext {
    color: white;
}


/*.form-design {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box ;
    border: 2px solid black;
    border-radius: 4px;
    color: white;
  
    
    
}*/


.colouredtext {
    color: #fe8a00;
}

.btn-default {
    background-color: white;
    border-color: black;
    color: #fe8a00
}

    .btn-default:hover {
        background-color: #fe8a00;
        border-color: white;
        color: white;
    }

.label {
    color: #fe8a00;
}

.details {
    background-color: white;
    opacity: 0.9;
    padding: 8px;
    margin: 5px;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

.clear {
    clear: both;
}

.col-md-12 {
    background-color: white;
    opacity: 0.9;
    padding: 8px;
    margin: 5px;
}
